@media (max-width: 1025px) {
  header #nav-wall .imagen-edificio{
    padding-top: 9%!important;
  }

  #sub-info-main{
    width: 90%!important;
    margin-top: -2%!important;
  }

  .box-grid .image-info{
    width: 40%!important;
    height: 40%!important;
  }

  .box-grid .descrip-info{
    text-align: justify!important;
    font-size: 90%!important;
  }

  .box-grid .title-info{
    font-size: 100%!important;
  }

  #producto-estandar #modulos-estandar .modulo .title-modulo{
    font-size: 110%!important;

    button{
      font-size: 1vw!important;
    }
  }

  #productos-especializados .header{
    font-size: 100%!important;
  }

  #productos-especializados .mid{
    width: 80%!important;
  }

  #productos-especializados .mid .opciones_box .opcion .text{
    font-size: 1.2vw!important;
  }

  #otros-sectores .mid{
    width: 90%!important;
  }

  #otros-sectores .mid .tabla-sectores .sector .title{
    font-size: 90%!important;
  }

  #otros-sectores .mid .tabla-sectores .sector .btn-space button{
    font-size: 1.2vw!important;
  }

  #trabajemos{
    width: 80%!important;
  }

  #trabajemos .contactBtn button{
    font-size: 1.3vw!important;
  }

  #footer .sub-footer{
    width: 90%!important;
  }

  #footer .sub-footer .section .mid{
    font-size: 1.3vw!important;
  }

  .content-we .main-box{
    width: 80%!important;
  }
  .content-descargas .item-descarga{
    width: 90%!important;
  }
}
@media (max-width: 376px) {
  #sub-header{
    padding-top: 10%!important;
  }
}

@media (max-width: 769px) {
  .first-screen,
  .second-screen,
  .third-screen,
  .four-screen,
  .five-screen,
  .six-screen {
    height: auto !important;
  }

  nav #sub-nav{
    width: 90%!important;
    text-align: center!important;
  }

  header{
    height: 70vh!important;
    background-size: 100% 50%!important;    
    background-position: bottom!important;

    #nav-wall{
      background: url(../images/prosoft_edificio_v4-min.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: 50% 37vh;
    }
  }

  header #nav-wall .imagen-edificio, header #nav-wall .imagen-edificio .edificio{
    display: none!important;
  }

  #sub-info-main {
    grid-template-columns: 50% 50% !important;
    width: 95%!important;
    margin-top: -5%!important;
  }

  #sub-header{
    height: 50%!important;
    width: 80%!important;
    padding-top: 6%;

    .header-title{
      width: 100%!important;
      text-align: center;

      p{
        font-size: 200%!important;
      }
    }
  }
  .box-grid .image-info{
    width: 80px !important;
    height: 80px !important;
  }

  .section-products,.section-products2{
    margin-top: 15px!important;    
    font-size: 100%!important;
    padding: 25px 0 !important;
    height: auto!important;

    p{
      width: 80%!important;
    }
  }

  .section-products2{
    margin: 0 !important;
  }

  #producto-estandar{
    padding: 20px 0!important;
    height: auto!important;

    .mid{
      grid-template-columns: 100% 100%!important;
      grid-gap: 0px 0px!important;
      display: block!important;
      padding: 15px!important;
      width: 80%!important;
    }
  }

  #producto-estandar #title{
    font-size: 8vw!important;
  }

  #producto-estandar #modulos-estandar .grid{
      grid-template-columns: 50% 50%!important;
  }

  #producto-estandar #modulos-estandar .modulo .title-modulo button{
    font-size: 2.2vw!important;
  }

  #productos-especializados .modulo-salud,#productos-especializados .modulo-publico{
    grid-template-columns: 100% !important;
    height: auto!important;
  }

  #productos-especializados .mid{
    padding: 20px 0 !important;

    .title{
      font-size: 6vw!important;
    }
  }

  #productos-especializados .mid .opciones_box{
    grid-template-columns: 100% !important;
  }

  #productos-especializados .mid .opciones_box .opcion{
    padding: 10px 0!important;
  }

  #productos-especializados .mid .opciones_box .opcion .icon{
    width: 60px!important;
    height: 60px!important
  }

  #productos-especializados .mid .opciones_box .opcion .text{
    font-size: 4vw!important;
  }

  #productos-especializados .modulo-salud .right,#productos-especializados .modulo-publico .left{
    height: 130px!important;
    background-size: 110% auto!important;
    background-attachment: inherit!important;
    background-position: inherit!important;
  }

  .third-section{
    .section-products{
      margin-top: 0 !important;
    }
  }

  .four-screen{
    .section-products{
      margin-top: 0 !important;
    }
  }

  #productos-especializados .modulo-salud .right {
    order: 1 !important;
  }

  #productos-especializados .modulo-salud .left {
    order: 3 !important;
  }

  #otros-sectores{
    height: auto!important;
  }

  #otros-sectores .mid .tabla-sectores{
    grid-template-columns: 100%!important;
  }

  #otros-sectores::before,#otros-sectores::after{
    height: 5%!important;
  }

  #otros-sectores .mid{
    padding-bottom: 85px!important; 
  }

  #otros-sectores .mid .tabla-sectores .sector .title{
    padding: 10px 0 !important;
    font-size: 4vw!important;
  }

  #otros-sectores .mid .tabla-sectores .sector .btn-space{
    padding: 10px 0 !important;
  }

  #otros-sectores .mid .tabla-sectores .sector .btn-space button{
    font-size: 3vw!important;
  }

  #clientes {
    height: auto!important;
    padding: 50px 0 !important;
    .title{
      font-size: 24px!important
    }
  }

  #clientes .slider .image {
    width: 100% !important;
  }

  #trabajemos{
    width: 90% !important;
    font-size: 5vw!important;
    text-align: center;
    line-height: 30px!important;
    padding: 20px 0!important;
    grid-template-columns: 100%!important;
    height: auto!important;
    margin-bottom: -15%!important;

    a{
      font-size: 16px !important;
    }
  }

  #trabajemos .contactBtn button{
    padding: 15px 50px!important;
    font-size: 3vw!important;
    margin-top: 15px!important;
  }

  #footer{
    padding-top: 15%!important;
    // margin-top: -15%!important;
  }

  #footer .sub-footer{
    grid-template-columns: 100%!important;
  }

  #footer .sub-footer .section .title{
    font-size: 3vw!important;
    text-align: center!important;
  }

  #footer .sub-footer .section .mid{
    text-align: center!important;
    font-size: 3vw!important;
  }

  #footer .sub-footer .section .mid i.material-icons{
    font-size: 3vw!important;
  }

  #end{
    font-size: 3vw!important;
  }

  #boton-menu{
    display: inline-block!important;
    position: absolute;
    left: 20px;
    top: 20px;
  }


  #menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    z-index: 999999999999;
    display: none;
    margin: 0 !important;
    // padding-top: 150px;
    background: #fff;

    ul.menu-list li {
      display: block !important;
      margin-right: 0px;
      padding: 0 !important;
      text-align: left;
      text-transform: capitalize;
      font-size: 16px;
      color: #333;
      font-weight: 500;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.02);

      a {
        padding: 20px 25px !important;
      }
    }
  }

  .headerNosotros{    
    background-size: auto 100%!important;
    background-repeat: no-repeat!important;
    background-position: 0% 0% !important;    
    height: 30vh!important;    
    line-height: 43px!important;
    color: #fff!important;
    font-size: 50px!important;    
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 20px rgba(34, 34, 34, 0.9);
    padding-top: 7vh;
    background-attachment: inherit!important;
  }

  .headerDescargas{    
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: 0% 0% !important;
    height: auto !important;
    color: #fff !important;
    font-size: 40px !important;
    display: flex;
    align-items: center;
    padding: 13vh 0 10vh 0;
    background-attachment: inherit !important;
  }

  .content-we{
    padding: 2vh 0!important;

    .main-box{
      width: 80%!important;
      max-width: 80%!important;
      padding: 15px!important;

      .titulo-main{
        width: 100%!important;
        font-size: 28px!important;
        // text-align: center;
      }

      .text-main{
        width: 100%!important;        
        padding: 10px 0;
        font-size: 14px!important;
      }

      hr{
        margin: 10px!important;
      }

      .grid-nosotros{
        grid-template-columns: 100%!important;
        grid-gap: 10px!important;

        .section-derecha{
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          padding-top: 20px;
        }
      }

      .section-izquierda,.section-derecha{       
        p{
          font-size: 14px!important;
        }
      }
    }
  }

  #footer.footer-we{
    padding: 0 0 2vh 0!important;
  }

  ul.sub-menu-list{
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%!important;
    border: none!important;
    border-radius: 0!important;
    box-shadow: none!important;

    li{
      font-size: 14px!important;
    }
  }

  ul.menu-list li.navNosotros{
    color: #999!important;
  }

  .content-descargas .item-descarga{
    width: 95%!important;
  }

  .content-descargas .item-descarga .descripcion .data{
    font-size: 3vw!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .content-descargas .item-descarga{
    grid-template-columns: 100%!important;    
  }

  .content-descargas .item-descarga .image{
    padding: 10px 0 0 0  ;
  }

  .content-descargas .item-descarga .image .image-src{
    width: 90px!important;
    height: 90px!important;

    img{
      width: 50%!important;
      height: 50%!important;
    }
  }

  .content-descargas .item-descarga .descripcion .titulo{
    padding: 10px!important;
    border-top: 1px solid rgba(0,0,0,0.08);
  }

  .content-descargas .item-descarga .descripcion .btnDownload{
    a{
      margin: 0 auto;
    }
  }
  .content-descargas .item-descarga .descripcion .btnDownload .btn-descargar{
    height: 50px!important;
    width: 50px!important;
  }

  #overlayPopup #popup{
    width: 90%!important;
  }

  #overlayPopup #popup .headerPopup{
    font-size: 4vw!important;
  }

  #overlayPopup #popup .bodyPopup h3 {
    margin: 1vh 0!important;
    font-size: 3.2vw!important;
  }

  .item{
    font-size: 3vw!important;
  }

  #overlayPopup #popup .bodyPopup{
    height: 60vh!important;
  }

  #verificarUsuario{
    width: 80%!important;
  }
}
