@media (max-width: 1441px){
    #sub-nav{
        width: 90%!important;
    }

    #sub-info-main{
        margin-top: -50px!important;
        width: 90%!important;

        .box-grid{
            padding: 10px 0!important;
            // margin: 0px 10px;
        }
    }

    #sub-header .header-title p{
        font-size: 50px!important;
    }

    .section-products{
        // margin-top: 70px!important;
    }

    header{
        // height: 76vh!important;

        #nav-wall{
            // background-position: 92% -134%!important;
        }
    }

    .box-grid .descrip-info{
        font-size: 14px!important;
    }

    .box-grid .image-info{
        line-height: 150px!important;
        width: 100px!important;
        height: 100px!important;

        img{
            height: 60px!important;
            width: 60px!important;
        }
    }

    #producto-estandar{
        // padding-bottom: 80px !important;
        // padding-top: 50px !important;
    }

    #producto-estandar #title{
        font-size: 42px!important;
    }

    #producto-estandar .mid{
        // padding: 80px 50px !important;
    }

    #producto-estandar #modulos-estandar .modulo .title-modulo{
        font-size: 18px!important;
    }

    #productos-especializados .modulo-salud, #productos-especializados .modulo-publico{
        height: 84vh!important;
    }

    #productos-especializados .mid{
        width: 90%!important;
    }

    #productos-especializados .mid .opciones_box .opcion .icon{
        width: 25px!important;
        height: 25px!important;

        img{
            width: 30px!important;
            height: 30px!important;
        }
    }

    #otros-sectores .mid{
        width: 80%!important;
        
        .tabla-sectores .sector{
            margin: 50px 20px!important;
        }
    }
}

@media (max-width: 1025px){
    header #nav-wall{
        background-size: 65%!important;
        background-position: 101% 114%!important;

        #sub-header{
            width: 90%!important;
        }
    }

    #sub-info-main{
        width: 100%!important;
        
        .box-grid .image-info{
            width: 80px!important;
            height: 80px!important;
            line-height: 110px!important;

            img{
                height: 40px !important;
                width: 40px !important;
            }
        }
    }

    #producto-estandar .mid{
        width: 90%!important;
        padding: 50px 10px !important;
    }

    #producto-estandar #modulos-estandar .modulo{
        padding: 15px 25px!important;
        
        button{
            padding: 8px 15px!important;
        }
    }

    #productos-especializados .modulo-salud, #productos-especializados .modulo-publico{
        height: 80vh !important;
    }

    #productos-especializados .modulo-salud{
        grid-template-columns: 60% 40%!important;

        .right{
            background-size: 131% 90% !important;
            background-position: 62% !important;
        }
    }

    #productos-especializados .mid .opciones_box{
        grid-template-columns: 100%!important;
    }

    #otros-sectores .mid{
        width: 90%!important;
    }

    #clientes{
        padding: 60px 0!important;
        margin-top: -8%!important;

        .mid{
            width: 90%;
        }
    }

    #trabajemos{
        width: 80%!important;
    }

    #footer{
        height: 43vh!important;
        padding-top: 6%!important;
    }
}

@media (max-width: 769px){
    #boton-menu{
        display:inline-block!important;
        margin-right: 15px;
    }

    #menu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 70%;
        z-index: 999999999999;
        display: none;        
        margin: 0!important;
        // padding-top: 150px;
        background: #FFF;

        ul.menu-list li{            
            display: block !important;
            margin-right: 0px;
            padding: 15px 30px;
            text-align: left;
            text-transform: capitalize;
            font-size: 16px;
            color: #222;
            font-weight: 500;
            border-bottom: 1px solid rgba(0, 0, 0, 0.02);
        }
    }
}