@media (max-width: 1400px){
    #sub-nav{
        width: 80%!important;
    }

    #sub-info-main{
        margin-top: -50px!important;
        width: 90%!important;

        .box-grid{
            padding: 10px 0!important;
            // margin: 0px 10px;
        }
    }

    #sub-header .header-title p{
        font-size: 50px!important;
    }

    .section-products{
        margin-top: 70px!important;
    }

    header{
        height: 68%!important;
    }

    .box-grid .descrip-info{
        font-size: 14px!important;
    }

    .box-grid .image-info{
        line-height: 150px!important;
        width: 100px!important;
        height: 100px!important;

        img{
            height: 60px!important;
            width: 60px!important;
        }
    }

    #producto-estandar{
        padding-bottom: 50px!important;
        padding-top: 30px!important;
    }

    #producto-estandar #title{
        font-size: 40px!important;
    }

    #producto-estandar .mid{
        padding: 10px 20px!important;
    }

    #producto-estandar #modulos-estandar .modulo .title-modulo{
        font-size: 18px!important;
    }
}