@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import "fonts";
@import "responsive";
@import "loader";

html,
body {
  margin: 0 auto;
  padding: 0;
  background: transparent;
  font-size: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: "Colfax Regular";
  -webkit-font-smoothing: antialiased;
  color: #2f465f;
}

body {
  overflow-x: hidden;
}

body,
div,
main,
ul,
li,
i,
input,
p {
  text-rendering: optimizeLegibility !important;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  background: linear-gradient(#005eea, #094cad);
  width: 100%;
  height: 710px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 1px solid #efefef;

  #nav-wall {
    background-image: url(../images/prosoft_edificio_v3.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 59%;
    background-position: 92% -19%;
    /* background-size: cover; */
    background-attachment: fixed;
  }
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a,
i.material-icons {
  display: inline-block;
  vertical-align: middle;
}

nav {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: background-color 200ms linear;

  #sub-nav {
    margin: 0 auto;
    width: 70%;
    padding: 15px 0px;
  }

  #logo {
    color: #222;
    font-size: 1.5rem;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
  }

  #menu {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
  }
}

.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .menu-list li{
    color: #999!important;

    &:hover{      
      background: rgba(23, 105, 255, 0.06) !important;
      color: #1b309f!important ;   
    }
  }

  [data-nav="sub-nav-soporte"] {
    background: #084db0 !important;
  }
}

ul.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;

  li {
    display: inline-block;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  li:hover {
    background: rgba(23, 105, 255, 0.06) ;
    color: #1b309f ;
  }

  .row-right::before {
    content: " ";
    position: relative;
    width: 50px;
    height: 50px;
  }
}

ul.sub-menu-list {
  list-style: none;
  position: absolute;  
  margin-top: 15px;
  margin-left: -90px;
  padding: 0;
  width: 15%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  display: none;
  border: 1px solid rgb(231, 231, 231);

  li {
    font-family: 'Roboto', sans-serif;
    color: #888 !important;
    display: list-item !important;
    text-transform: none !important;
    padding: 18px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    font-weight: 400 !important;
    font-size: 14px;
  }

  li:hover {
    color: #0047af !important;
    background: #FFF !important;
  }
}

#sub-header {
  height: 100%;
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  color: #2f465f;

  .header-title {
    p {
      font-size: 70px;
      font-weight: 700;
      // text-transform: uppercase;
      text-align: center;
      line-height: 0.8;
      margin: 0;
      font-family: "Colfax Bold";
      font-weight: normal;
      color: #0554c8;
      text-transform: uppercase;
    }

    font-size: 18px;
    width: 44%;
    letter-spacing: -1px;
    font-family: "Open sans", sans-serif;
    // letter-spacing: 0.5px;
  }
}

#info-main {
  width: 100%;
  height: 30%;
}

#sub-info-main {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  margin-top: -50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.box-grid {
  text-align: center;
  margin: 15px;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
  // box-shadow: 0 23px 51px rgba(0,0,0,.08);
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 15px;
  border-radius: 2px;
  transition: all 300ms;
  position: relative;
  cursor: pointer;

  .image-info {
    background: aliceblue;
    width: 120px;
    height: 120px;
    border-radius: 150%;
    margin: 0 auto;
    line-height: 183px;

    img {
      width: 70px;
      height: 70px;
    }
  }

  .title-info {
    font-family: "Colfax Bold";
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
    padding: 10px 15px;
    text-align: left;
    // text-transform: uppercase;
    color: #084db0;
  }

  .descrip-info {
    text-align: justify;
    font-family: "Open sans", sans-serif;
    letter-spacing: 0.3px;
    padding: 0 15px;
  }
}

.box-grid:hover {
  // top: -15px;
  // transform: scale(1.03);
  transform: translate3d(0, -5px, 0);
  // box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
}

.section-products,
.section-products2 {
  margin-top: 80px;
  padding: 40px 0;
  background: #14191f;
  color: #fff;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  font-size: 22px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  letter-spacing: -0.2px;  

  p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

// .section-products::before{
//   content: "";
//   background: #FFF;
//   width: 102%;
//   height: 32%;
//   position: absolute;
//   left: 0;
//   bottom: -27%;
//   -webkit-transform: rotate(-2deg);
//   transform: rotate(-2deg);
//   -webkit-transform-origin: 3% 0;
//   transform-origin: 3% 0;
//   z-index: 999;
// }

.section-products::after {
  content: "";
  position: absolute;
  background: url(../images/wall-section-points.png) top right / auto 1000px
    no-repeat transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.75;
}

// .section-products2::after {
//   content: "";
//   position: absolute;
//   background: url(../images/wall-section-points.png);
//   background-size: 84%;
//   background-repeat: no-repeat;
//   background-position: -22% 101%;
//   right: 0;
//   bottom: 0;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   opacity: 0.75;
// }

#producto-estandar {
  background: #F4F6FC;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-bottom: 90px;
  padding-top: 80px;

  &::before {
    content: "";
    background: #14191f;
    width: 102%;
    height: 42%;
    position: absolute;
    left: -16px;
    bottom: -20%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    z-index: 0;
  }

  .mid {
    margin: 0 auto;
    width: 70%;
    padding: 100px 50px;
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background: #fff;
  }

  #title,
  #modulos-estandar {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  #title {
    font-size: 60px;
    font-family: "Colfax Bold";
    position: relative;
    width: 25%;
    text-transform: uppercase;
    text-align: right;
    margin-left: 20px;
    margin-right: 10px;
    color: #084db0;
    line-height: 1.1;
    letter-spacing: 2.5px;
  }

  #modulos-estandar {
    width: 70%;

    .grid {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .modulo {
      //   background: #fff;
      padding: 15px;
      margin: 10px;
      border-radius: 3px;
      //   box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.08);
      cursor: pointer;
      transition: all 300ms;
      text-align: center;

      .imagen-modulo {
        width: 80px;
        height: 80px;
        background: aliceblue;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        line-height: 122px;

        img {
          height: 50px;
          width: 50px;
        }
      }

      .title-modulo {
        font-family: "Colfax Medium";
        font-size: 22px;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding: 10px 0;
        color: #222;
      }

      &:hover {
        // transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
      }

      &:hover button {
        background: #084db0;
        color: #fff;
        transition: all 0.3s ease;
      }
    }
  }
}

.content-modulo {
  // padding: 10px 5px 2px 5px;
}

.item {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-bottom: 15px;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 16px;
}

.check {
  width: 20px;
  height: 20px;
  background: #38c101;
  border-radius: 100%;
  position: relative;
  margin: 5px auto;

  &::before {
    content: "";
    background-color: transparent;
    position: absolute;
    left: 7px;
    top: 3px;
    width: 3px;
    border-bottom: 2.5px solid #fff;
    height: 8px;
    border-right: 2.5px solid #fff;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.w3-animate-top {
  position: relative;
  animation: animatetop 0.8s;
}
@keyframes animatetop {
  from {
    top: -600px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#productos-especializados {  
  max-width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;  
  
  .modulo-salud,.modulo-publico{ height: 800px;}
  .modulo-salud {
    width: 100%;    
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 50% 50%;

    .right {
      width: 100%;
      height: 100%;
      background: url(../images/salud_wall.jpg);
      background-size: 121% 100%;
      background-repeat: no-repeat;
      background-position: 84%;
      position: relative;
      background-attachment: fixed;
    }

    .left{
      background:#F4F6FC;
      display: flex;
      align-items: center;
      font-family: "Open sans", sans-serif;
      letter-spacing: 0.3px;
      font-size: 16px;
    }

  }

  .modulo-publico {
    width: 100%;
    margin: 0 auto;      
    display: grid;
    grid-template-columns: 50% 50%;

    .left {      
      background: url(../images/publico_wall.jpg);
      background-size: 106% 100%;
      background-repeat: no-repeat;
      background-position: 269%;
      position: relative;
      transform: scaleX(-1);
      background-attachment: fixed;
    }

    .right{
      background:#F4F6FC;
      display: flex;
      align-items: center;
      font-family: "Open sans", sans-serif;
      letter-spacing: 0.3px;
      font-size: 16px;
    }

  }

  .mid{
    height: auto;
    width: 70%;
    margin: 0 auto;
    padding: 15px;

      .title{
        font-size: 48px;
        // font-family: "Open sans", sans-serif !important;
        font-family: "Colfax Bold";
        // letter-spacing: -0.8px;
        text-transform: uppercase;
        font-weight: normal;
        color: #222;
      }

      .opciones_box{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px 20px;        

        .opcion{
          background: #FFF;          
          border-radius: 3px;          
          padding: 15px 15px 15px 15px;         
          box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06); 
          font-family: "Open sans", sans-serif !important;
          font-weight: 700;
          // letter-spacing: px;
          font-size: 1rem;          
          text-align: left;
          color: #333;
          cursor: pointer;
          transition: all 300ms;
          text-transform: uppercase;          

          &:hover{
            background: #084db0;
            color: #FFF;            
          }

          .icon{
            width: 40px;
            height: 40px;
            background: #FFF;
            padding: 15px;
            border-radius: 100%;
            margin-right: 10px;

            img{
              width: 40px;
              height: 40px;
            }
          }

          .icon,.text{
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
  }
}

#otros-sectores {
  max-width: 100%;
  height: auto;
  background: linear-gradient(#2e67bd, #0047af);
  background-size: 100%;
  // background-color: #F4F6FC;
  background-repeat: no-repeat;
  background-position: 141% 87%;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background: #123d7d;
    width: 108%;
    height: 32%;
    position: absolute;
    bottom: -20%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }

  &::after {
    content: "";
    background: #fff;
    width: 103%;
    height: 32%;
    position: absolute;
    bottom: -21%;
    left: -5px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }

  .mid {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12%;
    margin-top: 50px;

    .tabla-sectores {
      width: 100%;
      display: grid;
      grid-template-columns: 33.333% 33.333% 33.333%;

      .sector {
        background: #fff;
        padding: 15px;
        margin: 50px;
        // box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-radius: 3px;
        transition: all 300ms;
        text-align: center;

        button {
          margin-bottom: 15px !important;
          border: none !important;
        }

        .title {
          padding: 0px 0px 15px 0;
          text-align: center;          
          font-family: "Open sans", sans-serif !important;
          font-weight: 700;          
          font-size: 1rem;                    
          color: #222;          
          text-transform: uppercase;          

          position: relative;

          &::before {
            content: "";
            width: 30%;
            height: 1px;
            background: #084db0;
            position: absolute;
            margin: 0 auto;
            top: 29px;
            left: 34%;
          }
        }

        .img {
          height: 120px;
          width: 80%;
          margin: 0 auto;
          border-radius: 3px;
          // box-shadow: -3px 0px 12px 0px rgba(0, 0, 0, 0.1),
            // 3px 0px 12px 0px rgba(0, 0, 0, 0.1);
        }

        .servicios-publicos {
          background: url(https://www.ambitojuridico.com/sites/default/files/facturas-servicios-luz-02jose-patino.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .bares-restaurantes {
          background: url(https://www.envista.es/wp-content/uploads/2017/01/fotografia-instalaciones-bares-restaurantes-asturias-001.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .molinos {
          background: url(https://st2.depositphotos.com/3203643/6160/i/950/depositphotos_61605219-stock-photo-plant-rice-mill.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .hoteleria {
          background: url(http://www.gediscovery.edu.pe/blog/wp-content/uploads/2017/02/cinco-razones-turismo-hoteleria-3.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .estaciones-servicio {
          background: url(http://markin.com.co/m/wp-content/uploads/2018/06/Venta-de-Estacion-de-Servicio-en-Cali-Estaciones-de-Servicio-en-Colombia-5.jpg);
          background-size: 100% auto;
          background-position: bottom;
        }

        .industrial {
          background: url(https://s.yimg.com/ny/api/res/1.2/kGTeNGAL03L6cLaiD4sK9A--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NjIwO2g9NDEz/http://media.zenfs.com/en-US/homerun/zacks.com/992ea53b2628c14eec64474bc1ef965e);
          background-size: 100% auto;
          background-position: center;
        }

        &:hover {
          transform: translate3d(0,-5px,0);
          // transform: scale(1.03);
          box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
        }

        &:hover button {
          background: #084db0;
          color: #fff;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

#clientes {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: -2%;
  position: relative;
  font-family: "Roboto";
  padding: 100px 0;

  .title {
    font-size: 40px;
    font-weight: normal;
  }

  .mid {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }

  .slider {
    .image {
      text-align: center;
      margin: 0 auto;
      height: 200px;
      width: 200px!important;
      align-items: center;
      display: flex!important;
    }
  }
}

#trabajemos {
  width: 70%;
  height: auto;
  padding: 60px;
  background: #084db0;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
  // margin: 0 auto;
  font-size: 40px;
  font-family: "Colfax Medium";
  color: #FFF;
  line-height: 35px;
  position: relative;
  margin: 0 auto;

  // &::before {
  //   content: " ";
  //   background: rgba(0, 0, 0, 0.1);
  //   height: 100px;
  //   width: 200px;
  //   position: absolute;
  //   border-top-left-radius: 90px;
  //   border-top-right-radius: 90px;
  //   bottom: 0;
  // }
}

#footer {
  width: 100%;
  background: #14191f;
  height: 35%;
  margin-top: -5%;  
  padding-top: 4%;
  display: flex;
  align-items: center;

  .sub-footer{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    margin: 0 auto;    
    grid-gap: 0px 20px;

    .section{
      .title{
        font-size: 14px;
        color: #FFF;
        font-family: "Open sans", sans-serif !important;
        font-weight: 700;          
        text-transform: uppercase;        
        padding: 15px 0;
      }

      .mid{
        color: #FFF;
        font-family: "Open sans", sans-serif !important;
        font-weight: normal;   
        font-size: 14px;    
        
        i.material-icons{
          margin-right: 8px;
        }
      }
    }

  }
}

#end{
  background: #0b0e10;
  color: #FFF;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;  
  font-family: "Open sans", sans-serif !important;
  font-weight: normal;   
}

button {
  padding: 8px 25px;
  background: #fff;
  border: 1px solid #084db0;
  color: #084db0;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  transition: all 300ms;

  &:hover {
    background: #084db0;
    color: #fff;
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#scroll {
  position: fixed;
  right: 30px;
  bottom: 140px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
  background-color: #084db0;
  box-shadow: rgba(0, 77, 255, 0.5) 0px 4px 24px;
}
#scroll i {
  color: #FFF;
  text-align: center;
  font-size: 36px;
}
#scroll:hover {
  background-color:#14191f;  
  box-shadow: rgba(0,0,0,0.5) 0px 4px 24px;
}

#ticketsBtn{
  position: fixed;
  right: 30px;
  bottom: 80px;
  cursor: pointer;
  width: 50px;
  height: 50px;  
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
  background: linear-gradient(#3F51B6,#162471);
  box-shadow: rgba(103, 58, 183, 0.44) 0px 4px 24px;
}

.headerNosotros{
  background: url(../images/empresa.jpg);
  background-size: 100% auto;
  background-position: 0% -84%;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 330px;
  color: #000;
  font-size: 72px;  
  text-transform: uppercase;
  font-family: 'Colfax Bold';
}

.navNosotros{  
    color: #FFF!important;

}

.content-we{
  background: #F4F6FC;
  width: 100%;
  height: auto;
  padding: 50px 0;

  .main-box{
    background: #FFF;
    width: 70%;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.2);

    hr{
      border: .5px solid rgba(0,0,0,0.05);
    }

    .titulo-main,.text-main{
      display: inline-block;
      vertical-align: middle;
    }

    .section-izquierda,.section-derecha{
      display: inline-block;
      vertical-align: middle;
    }

    .titulo-main{
      width: 30%;      
      text-transform: uppercase;
      font-size: 48px;
      color: #0047af;
      font-family: 'Colfax Bold';
    }

    .text-main{
      width: 69%;
      font-size: 18px;
      color: #222;
      text-align: justify;
    }

    .section-izquierda{
      width: 27%;
      padding-right: 40px;  
      border-right: 1px solid rgba(0,0,0,0.05);
    }

    .section-derecha{
      width: 66%;
      padding-left: 40px;
    }

    .title-section{
      text-transform: uppercase;
      font-size: 24px;
      color: #222;
      font-family: 'Colfax Bold';
    }
  }
}

.footer-we{
  margin-top: 0!important;
  padding-top: 0!important;
}