@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import "fonts";
@import "responsive";
@import "loader";

html,
body {
  margin: 0 auto;
  padding: 0;
  background: transparent;
  font-size: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: "Colfax Regular";
  -webkit-font-smoothing: antialiased;
  color: #2f465f;
}

body {
  overflow-x: hidden;
}

body,
div,
main,
ul,
li,
i,
input,
p {
  text-rendering: optimizeLegibility !important;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  background: linear-gradient(#005eea, #094cad);
  width: 100%;
  height: 70vh;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 1px solid #efefef;

  #nav-wall {
    background-image: url(../images/prosoft_edificio_v3.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 59%;
    background-position: 92% -19%;
    /* background-size: cover; */
    background-attachment: fixed;
  }
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a,
i.material-icons {
  display: inline-block;
  vertical-align: middle;
}

nav {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: background-color 200ms linear;

  #sub-nav {
    margin: 0 auto;
    width: 70%;
    padding: 2vh 0px;
  }

  #logo {
    background: url(../images/logo_prosoft.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
  }

  #menu {
    margin-left: 50px;
  }

  .horizontal-align {
    display: inline-block;
    vertical-align: middle;
  }
}

.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .menu-list li {
    color: #999 !important;

    &:hover {
      background: rgba(23, 105, 255, 0.06) !important;
      color: #1b309f !important ;
    }
  }

  [data-nav="sub-nav-soporte"] {
    background: #084db0 !important;
  }
}

ul.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;

  li {
    display: inline-block;
    color: #999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  li:hover {
    background: rgba(23, 105, 255, 0.06);
    color: #1b309f;
  }

  .row-right::before {
    content: " ";
    position: relative;
    width: 50px;
    height: 50px;
  }
}

ul.sub-menu-list {
  list-style: none;
  position: absolute;
  margin-top: 15px;
  margin-left: -90px;
  padding: 0;
  width: 15%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  display: none;
  border: 1px solid rgb(231, 231, 231);

  li {
    font-family: "Roboto", sans-serif;
    color: #888 !important;
    display: list-item !important;
    text-transform: none !important;
    padding: 18px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    font-weight: 400 !important;
    font-size: 14px;
  }

  li:hover {
    color: #0047af !important;
    background: #fff !important;
  }
}

#sub-header {
  height: 100%;
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  color: #2f465f;

  .header-title {
    p {
      font-size: 3.8vw;
      font-weight: 700;
      // text-transform: uppercase;
      text-align: center;
      line-height: 0.8;
      margin: 0;
      font-family: "Colfax Bold";
      font-weight: normal;
      color: #0554c8;
      text-transform: uppercase;
    }

    font-size: 1.2vw;
    width: 44%;
    letter-spacing: -1px;
    font-family: "Open sans", sans-serif;
    // letter-spacing: 0.5px;
  }
}

#info-main {
  width: 100%;
  height: 30vh;
}

#sub-info-main {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  margin-top: -50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.box-grid {
  text-align: center;
  margin: .5vh;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
  // box-shadow: 0 23px 51px rgba(0,0,0,.08);
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: .5vh;
  border-radius: 2px;
  transition: all 300ms;
  position: relative;
  cursor: pointer;

  .image-info {
    background: aliceblue;
    width: 14vh;
    height: 14vh;
    border-radius: 150%;
    margin: 0 auto;
    line-height: 20vh;

    img {
      width: 70px;
      height: 70px;
    }
  }

  .title-info {
    font-family: "Colfax Bold";
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
    padding: 10px 15px;
    text-align: left;
    // text-transform: uppercase;
    color: #084db0;
    font-size: 1.2vw;
  }

  .descrip-info {
    text-align: justify;
    font-family: "Open sans", sans-serif;
    letter-spacing: 0.3px;
    padding: 0 15px;
    font-size: 1vw;
  }
}

.box-grid:hover {
  // top: -15px;
  // transform: scale(1.03);
  transform: translate3d(0, -5px, 0);
  // box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
}

.section-products,
.section-products2 {
  margin-top: 80px;
  padding: 40px 0;
  background: #14191f;
  color: #fff;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  font-size: 1.5vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;

  p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

// .section-products::before{
//   content: "";
//   background: #FFF;
//   width: 102%;
//   height: 32%;
//   position: absolute;
//   left: 0;
//   bottom: -27%;
//   -webkit-transform: rotate(-2deg);
//   transform: rotate(-2deg);
//   -webkit-transform-origin: 3% 0;
//   transform-origin: 3% 0;
//   z-index: 999;
// }

.section-products::after {
  content: "";
  position: absolute;
  background: url(../images/wall-section-points.png) top right / auto 1000px
    no-repeat transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.75;
}

// .section-products2::after {
//   content: "";
//   position: absolute;
//   background: url(../images/wall-section-points.png);
//   background-size: 84%;
//   background-repeat: no-repeat;
//   background-position: -22% 101%;
//   right: 0;
//   bottom: 0;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   opacity: 0.75;
// }

#producto-estandar {
  background: #f4f6fc;
  width: 100%;
  height: 72vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  // padding-bottom: 90px;
  padding-top: 8vh;

  &::before {
    content: "";
    background: #14191f;
    width: 102%;
    height: 50%;
    position: absolute;
    left: -16px;
    bottom: -25%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    z-index: 0;
  }

  .mid {
    margin: 0 auto;
    width: 70%;
    // padding: 100px 50px;
    padding: 5vh 50px;
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background: #fff;
  }

  #title,
  #modulos-estandar {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  #title {
    font-size: 3vw;
    font-family: "Colfax Bold";
    position: relative;
    width: 25%;
    text-transform: uppercase;
    text-align: right;
    margin-left: 20px;
    margin-right: 10px;
    color: #084db0;
    line-height: 1.1;
    letter-spacing: 2.5px;
    
  }

  #modulos-estandar {
    width: 70%;

    .grid {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .modulo {
      //   background: #fff;
      padding: 2vh;
      margin: .5vh;
      border-radius: 3px;
      //   box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.08);
      cursor: pointer;
      transition: all 300ms;
      text-align: center;

      .imagen-modulo {
        width: 80px;
        height: 80px;
        background: aliceblue;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        line-height: 122px;

        img {
          height: 50px;
          width: 50px;
        }
      }

      .title-modulo {
        font-family: "Colfax Medium";
        font-size: 22px;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding: 10px 0;
        color: #222;
        font-size: 1.2vw;
      }

      &:hover {
        // transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
      }

      &:hover button {
        background: #084db0;
        color: #fff;
        transition: all 0.3s ease;
      }
    }
  }
}

.item {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-bottom: 15px;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 1vw;
  padding-bottom: 1vw;
  text-align: justify;
}

.check {
  width: 2vh;
  height: 2vh;
  background: #38c101;
  border-radius: 100%;
  position: relative;
  margin: 5px auto;

  &::before {
    content: "";
    background-color: transparent;
    position: absolute;
    left: .7vh;
    top: .3vh;
    width: .4vh;
    border-bottom: 2.5px solid #fff;
    height: .8vh;
    border-right: 2.5px solid #fff;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.w3-animate-top {
  position: relative;
  animation: animatetop 0.8s;
}
@keyframes animatetop {
  from {
    top: -600px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#productos-especializados {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  
  .modulo-salud {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 85vh;

    .right {
      width: 100%;
      height: 100%;
      background: url(../images/salud_wall.jpg);
      background-size: 121% 100%;
      background-repeat: no-repeat;
      background-position: 84%;
      position: relative;
      background-attachment: fixed;
    }

    .left {
      background: #f4f6fc;
      display: flex;
      align-items: center;
      font-family: "Open sans", sans-serif;
      letter-spacing: 0.3px;
      font-size: 16px;
    }
  }

  .modulo-publico {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 82vh;

    .left {
      background: url(../images/publico_wall.jpg);
      background-size: 106% 100%;
      background-repeat: no-repeat;
      background-position: 269%;
      position: relative;
      transform: scaleX(-1);
      background-attachment: fixed;
    }

    .right {
      background: #f4f6fc;
      display: flex;
      align-items: center;
      font-family: "Open sans", sans-serif;
      letter-spacing: 0.3px;
      font-size: 16px;
    }
  }

  .mid {
    height: auto;
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    font-size: 1vw;

    .title {
      font-size: 3.5vw;
      font-family: "Colfax Bold";
      text-transform: uppercase;
      font-weight: normal;
      color: #222;
    }

    .opciones_box {
      margin-top: 5vh;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 20px 20px;

      .opcion {
        background: #fff;
        border-radius: 3px;
        padding: 2vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1),
          0 0 15px rgba(0, 0, 0, 0.06);
        font-family: "Open sans", sans-serif !important;
        font-weight: 700;
        // letter-spacing: px;
        font-size: 1rem;
        text-align: left;
        color: #333;
        cursor: pointer;
        transition: all 300ms;
        text-transform: uppercase;

        &:hover {
          background: #084db0;
          color: #fff;
        }

        .icon {
          width: 4vh;
          height: 4vh;
          background: #fff;
          padding: 15px;
          border-radius: 100%;
          margin-right: 10px;

          img {
            width: 4vh;
            height: 4vh;
          }
        }

        .icon,
        .text {
          display: inline-block;
          vertical-align: middle;
        }

        .text{
          font-size: 1vw;
        }
      }
    }
  }
}

#otros-sectores {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(#2e67bd, #0047af);
  background-size: 100%;
  // background-color: #F4F6FC;
  background-repeat: no-repeat;
  background-position: 141% 87%;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background: #123d7d;
    width: 108%;
    height: 32%;
    position: absolute;
    bottom: -25%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }

  &::after {
    content: "";
    background: #fff;
    width: 103%;
    height: 32%;
    position: absolute;
    bottom: -27%;
    left: -5px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }

  .mid {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;    
    // margin-top: 50px;

    .tabla-sectores {
      width: 100%;
      display: grid;
      grid-template-columns: 33.333% 33.333% 33.333%;
      margin-top: -5vh;

      .sector {
        background: #fff;
        padding: 2vh;
        margin: 4vh;
        // box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-radius: 3px;
        transition: all 300ms;
        text-align: center;

        button {
          margin-bottom: 15px !important;
          border: none !important;
        }

        .title {
          padding: 0px 0px 15px 0;
          text-align: center;
          font-family: "Roboto", sans-serif !important;
          font-weight: 700;
          font-size: 1vw;
          color: #222;
          text-transform: uppercase;
          position: relative;
          letter-spacing: .2px;

          &::before {
            content: "";
            width: 30%;
            height: 1px;
            background: #084db0;
            position: absolute;
            margin: 0 auto;
            top: 29px;
            left: 34%;
          }
        }

        .img {
          height: 120px;
          width: 80%;
          margin: 0 auto;
          border-radius: 3px;
          // box-shadow: -3px 0px 12px 0px rgba(0, 0, 0, 0.1),
          // 3px 0px 12px 0px rgba(0, 0, 0, 0.1);
        }

        .servicios-publicos {
          background: url(https://www.ambitojuridico.com/sites/default/files/facturas-servicios-luz-02jose-patino.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .bares-restaurantes {
          background: url(https://www.envista.es/wp-content/uploads/2017/01/fotografia-instalaciones-bares-restaurantes-asturias-001.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .molinos {
          background: url(https://st2.depositphotos.com/3203643/6160/i/950/depositphotos_61605219-stock-photo-plant-rice-mill.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .hoteleria {
          background: url(http://www.gediscovery.edu.pe/blog/wp-content/uploads/2017/02/cinco-razones-turismo-hoteleria-3.jpg);
          background-size: 100% auto;
          background-position: center;
        }

        .estaciones-servicio {
          background: url(http://markin.com.co/m/wp-content/uploads/2018/06/Venta-de-Estacion-de-Servicio-en-Cali-Estaciones-de-Servicio-en-Colombia-5.jpg);
          background-size: 100% auto;
          background-position: bottom;
        }

        .industrial {
          background: url(https://s.yimg.com/ny/api/res/1.2/kGTeNGAL03L6cLaiD4sK9A--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NjIwO2g9NDEz/http://media.zenfs.com/en-US/homerun/zacks.com/992ea53b2628c14eec64474bc1ef965e);
          background-size: 100% auto;
          background-position: center;
        }

        &:hover {
          transform: translate3d(0, -5px, 0);
          // transform: scale(1.03);
          box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 50px 0px;
        }

        &:hover button {
          background: #084db0;
          color: #fff;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

#clientes {
  width: 100%;
  height: 56vh;
  margin: 0 auto;
  text-align: center;
  margin-top: -2%;
  position: relative;
  font-family: "Roboto";
  padding-top: 4vh;
  background: #fff;

  .title {
    font-size: 40px;
    font-weight: normal;
  }

  .mid {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }

  .slider {
    .image {
      text-align: center;
      margin: 0 auto;
      height: 200px;
      width: 200px!important;
      align-items: center;
      display: flex !important;
    }
  }
}

#trabajemos {
  width: 70%;
  height: 20vh;
  padding: 0 5vh;
  background: #084db0;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
  font-size: 2.8vw;
  font-family: "Colfax Medium";
  color: #fff;
  line-height: 35px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 70% 30% ;
}

#footer {
  width: 100%;
  background: #14191f;
  height: 40vh;
  margin-top: -10vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;

  .sub-footer {
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    margin: 0 auto;
    grid-gap: 0px 20px;

    .section {
      .title {
        font-size: .8vw;
        color: #fff;
        font-family: "Open sans", sans-serif !important;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 0;
      }

      .mid {
        color: #fff;
        font-family: "Open sans", sans-serif !important;
        font-weight: normal;
        font-size:.8vw;

        i.material-icons {
          font-size: .8vw!important;
          margin-right: 8px;
        }
      }
    }
  }
}

#end {
  background: #0b0e10;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 2vh 0;
  font-size: .8vw;
  font-family: "Open sans", sans-serif !important;
  font-weight: normal;
}

button {
  padding: 8px 25px;
  background: #fff;
  border: 1px solid #084db0;
  color: #084db0;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  transition: all 300ms;
  font-size: .8vw;

  &:hover {
    background: #084db0;
    color: #fff;
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#scroll {
  position: fixed;
  right: 33px;
  bottom: 180px;
  cursor: pointer;
  width: 50px;
  height: 49px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
  background: linear-gradient(#1631c7, #162471);
  box-shadow: #1b309f7a 0px 4px 24px;
}
#scroll i {
  color: #fff;
  text-align: center;
  font-size: 36px;
}
#scroll:hover {
  background: linear-gradient(#080808, #333333);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 24px;
}

#ticketsBtn {
  position: fixed;
  right: 33px;
  bottom: 120px;
  cursor: pointer;
  width: 50px;
  height: 49px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
  background: linear-gradient(#1631c7, #162471);
  box-shadow: #1b309f7a 0px 4px 24px;

  &:hover {
    background: linear-gradient(#080808, #333333);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 24px;
  }

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  div.tooltip {
    position: relative;
    left: -158px;
    top: -57px;
    width: 150px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px;
    padding: 0;
    line-height: 33px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: 10px;
      right: -9px;
      width: 0;
      height: 0;
      border-left: 9px solid rgba(0, 0, 0, 0.8);
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }
}

.headerNosotros {
  background: url(../images/empresa.jpg);
  background-size: 100% auto;
  background-position: 0% -84%;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 330px;
  color: #000;
  font-size: 72px;
  text-transform: uppercase;
  font-family: "Colfax Bold";
}

.navNosotros {
  color: #fff !important;
}

.logoNosotros {
  // background: rgba(0,0,0,0.8)!important;
}

.content-we {
  background: #f4f6fc;
  width: 100%;
  height: auto;
  padding: 50px 0;

  .main-box {
    background: #fff;
    width: 70%;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.2);

    hr {
      border: 0.5px solid rgba(0, 0, 0, 0.05);
    }

    .titulo-main,
    .text-main {
      display: inline-block;
      vertical-align: middle;
    }

    .section-izquierda,
    .section-derecha {
      display: inline-block;
      vertical-align: middle;
    }

    .titulo-main {
      width: 30%;
      text-transform: uppercase;
      font-size: 48px;
      color: #0047af;
      font-family: "Colfax Bold";
    }

    .text-main {
      width: 69%;
      font-size: 18px;
      color: #222;
      text-align: justify;
    }

    .section-izquierda {
      width: 27%;
      padding-right: 40px;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

    .section-derecha {
      width: 66%;
      padding-left: 40px;
    }

    .title-section {
      text-transform: uppercase;
      font-size: 24px;
      color: #222;
      font-family: "Colfax Bold";
    }
  }
}

.footer-we {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#overlayPopup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    at center center,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(20, 20, 20, 0.5) 100%
  );
  z-index: 999999999999;
  display: flex;
  align-items: center;
  margin: 0 auto;
  display: none;

  #popup {
    width: 40%;
    height: 100%;
    max-height: 80vh;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 4px;

    .content {
      max-height: 100%;
      height: 100%;
    }

    .closeBtnPopup {
      width: auto;
      height: auto;
      float: right;
      color: rgba(255, 255, 255, 0.4);
      margin-right: 10px;
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: #fff;
      }
    }

    .headerPopup {
      max-width: 100%;      
      padding: 7vh 2vh 2vh 2vh;
      background: linear-gradient(to right, #3f88f3, #1b2b9f);
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -0.2px;
      font-size: 1.5vw;
    }

    .bodyPopup {
      max-width: 100%;
      height: 58vh;
      padding: 0 20px 0px 20px;
      color: #222;
      font-size: 18px;

      h3{
        margin: 2vh 0;
        font-size: 1.1vw;
      }

      .content-modulo {
        overflow-y: scroll;
        max-height: 100%;
        height: 100%;
        padding-right: 25px;
        font-size: 1vw;
      }
    }
  }
}

.greyscreen-open {
  > :not(.greyscreen) {
    -webkit-filter: blur(3px);
    filter: url(#blur); // FF
  }

  overflow: hidden;
}

.popupTickets {
  width: 60% !important;

  .bodyPopup {
    height: 81% !important;
    padding: 20px !important;

    iframe {
      height: 100% !important;
      width: 100% !important;
      border: none !important;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 0px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}
::-webkit-scrollbar-thumb:active {
  background: #004080;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#boton-menu {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  display: none;
}

#bg-black {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999999999999;
  display: none;
  top: 0;
}

.contactanosBtn:hover {
  background: #fff !important;
  color: #084db0 !important;
}

.first-screen,
.second-screen,
.third-screen,
.four-screen,
.five-screen {
  width: 100%;
  height: 100vh;
}

.six-screen{
  height: 80vh;
}